/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 通用設定 */
*, 
*:befrore,
*:after {
	border-sizing: border-box;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	color: #3d1101;
	font-weight: 100;
	line-height: 1.5;
}

a {
	color: #3d1101;
	text-decoration: none;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

/* header */

header {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 16px 48px 16px 42px;
}

header h1 a {
	background-image: url("./assets/logo_w@svg.svg");
	width: 120px;
	height: 24px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.navbar {
	display: flex;
	gap: 30px;
}

.nav-item a {
	color: #fff;
}

/* banner */
.banner {
	background-image: url('./assets/header_desktop@2x.png');
	height: 364px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-box {
	text-align: center;
	padding: 20px 42px 26px 22px;
	background: rgba(0,0,0,0.35);
}

.banner-box h2 {
	font-size: 32px;
	color: #fff;
	padding-bottom: 16px;
}

.banner-box h3 {
	color: #fff;
}

.banner-box span {
	font-size: 16px;
	vertical-align: middle;
}

/* footer */
footer {
	background-color: #efe9e7;
	padding: 50px 49px 50px 43px;
}

.footer-list {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 75px;
}

.footer-content {
	display: flex;
	gap: 21px;
}

.footer-item h4 {
	font-size: 24px;
	padding-bottom: 16px;
}

.footer-item-about {
	width: 299px;
}

.contact-item {
	list-style-type: disc;
	margin-left: 16px;
}

.footer-media h2 {
	padding-bottom: 22px;
}

.footer-media h2 a {
	background-image: url("./assets/logo_l@svg.svg");
	width: 244px;
	height: 49px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.media-list {
	display: flex;
	justify-content: end;
	gap: 12px;
}

.fa-brands {
	font-size: 36px;
}

.fa-google-plus-square {
	color: #DB4437;
}

.fa-twitter-square {
	color: #41ABE1;
}

.fa-facebook-square {
	color: #3A5795;
}

/* feature */
.feature {
	background-color: #efe9e7;
	padding: 50px 62px;
}

.feature h3 {
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 31px;
	position: relative;
}

.feature h3::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 24%;
	width: 110px;
	height: 1px;
	background: #979797;
}

.feature h3::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 24%;
	width: 110px;
	height: 1px;
	background: #979797;
}

.feature-list {
	display: flex;
	gap: 60px;
}

.feature-item {
	width: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature-item img {
	width: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.feature-item h4 {
	font-size: 20px;
	margin-bottom: 20px;
}

/* chef */
.chef {
	background-color: #3d1101;
	display: flex;
	gap: 25px;
	padding: 0 77px 0 42px;
}

.chef img {
	width: 470px;
}

.chef-article {
	color: #efe9e7;
	padding-top: 81px;
}

.chef-article h4 {
	font-size: 20px;
	line-height: 1.6;
}

.chef-article h5 {
	line-height: 1.25;
	margin-bottom: 16px;
}