/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 通用設定 */
*, 
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	color: #3d1101;
	font-weight: 100;
	line-height: 1.5;
}

a {
	color: #3d1101;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

/* header */

header {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 16px 48px 16px 42px;
	position: relative;
}

header h1 a {
	background-image: url(../assets/logo_w@svg.svg);
	width: 120px;
	height: 24px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

@media(max-width:992px) {
	header {
		padding: 17px 13px 15px 13px;
	}

	header h1 a {
		background-size: contain;
		width: 90px;
		height: 18px;
	}
}

.menu-btn {
	color: #fff;
	font-size: 24px;
	display: none;
	position: absolute;
	right: 48px;
}

.navbar {
	display: flex;
	gap: 30px;
}

.nav-item a {
	display: block;
	color: #fff;
	padding-bottom: 15px;
	border-bottom: 2px solid transparent;
	transition-duration: 1.5s; 
}

.nav-item a:hover, .nav-item a:focus, .nav-item a:active {
	border-bottom: 2px solid #fff;
}

@media(max-width: 767px) {
	.navbar {
		display: none;
		left: 0;
        right: 0;
        bottom:0;
		position: absolute;
		text-align: center;
		flex-direction: column;
		transform:translateY(100%);
		background-color: #000;
	}

	.nav-item {
		width: 100%;
	}

	.nav-item a {
		padding: 8px 0;
	}

	.menu-btn {
		display: flex;
	}

	.nav-item a:hover, .nav-item a:focus, .nav-item a:active {
		background-color: rgba(250, 250, 250, 0.5);
	}
}

/* banner */
.banner {
	background-image: url(../assets/header_desktop@2x.png);
	height: 364px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-box {
	text-align: center;
	padding: 20px 42px 26px 22px;
	background: rgba(0,0,0,0.35);
}

.banner-box h2 {
	font-size: 36px;
	line-height: 1.3;
	color: #fff;
	padding-bottom: 16px;
}

.banner-box h2::after {
	content: '咬一口就無法忘懷的漢堡';
}

.banner-box h3 {
	color: #fff;
}

.banner-box span {
	font-size: 16px;
	vertical-align: middle;
}

@media(max-width: 767px){
	.banner {
		background-image: url(../assets/Bitmap@2x.png);
	}

	.banner-box h2::after {
		content: '咬一口 \A就無法忘懷的漢堡';
		white-space: pre;
	}
}

/* footer */
footer {
	background-color: #efe9e7;
	padding: 50px 49px 50px 43px;
}

@media(max-width: 992px) {
	footer {
		padding-right: 10px;
		padding-left: 11px;
	}
}

.footer-list {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 75px;
}

.footer-content {
	display: flex;
	gap: 21px;
}

.footer-item h4 {
	font-size: 24px;
	padding-bottom: 16px;
}

.footer-item-about {
	width: 299px;
}

.contact-item {
	list-style-type: disc;
	margin-left: 16px;
}

.contact-item a:hover, .contact-item a:focus, .contact-item a:active {
	opacity: .8;
}

@media(max-width: 992px) {
	.footer-list {
		gap: 12px;
	}

	.footer-item {
		width: 235px;
	}
}

@media(max-width: 767px) {
	.footer-list {
		flex-direction: column;
		gap: 30px;
		align-items: end;
	}

	.footer-content {
		flex-direction: column;
		gap: 30px;
	}

	.footer-item {
		width: auto;
	}
}

.footer-media h2 {
	padding-bottom: 22px;
}

.footer-media h2 a {
	background-image: url("./assets/logo_l@svg.svg");
	width: 244px;
	height: 49px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.media-list {
	display: flex;
	justify-content: end;
	gap: 12px;
}

.media-item:hover, .media-item:focus, .media-item:active {
	opacity: .8;
}

.fa-brands {
	font-size: 36px;
}

.fa-google-plus-square {
	color: #DB4437;
}

.fa-twitter-square {
	color: #41ABE1;
}

.fa-facebook-square {
	color: #3A5795;
}

/* feature */
.feature {
	background-color: #efe9e7;
	padding: 50px 62px;
}

.feature h3 {
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 31px;
	position: relative;
}

.feature h3::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 24%;
	width: 110px;
	height: 1px;
	background: #979797;
}

.feature h3::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 24%;
	width: 110px;
	height: 1px;
	background: #979797;
}

@media(max-width: 992px) {
	.feature {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media(max-width: 767px) {
	.feature {
		padding-bottom: 60px;
	}
	
	.feature h3::before {
		display: none;
	}

	.feature h3::after {
		display: none;
	}
}

.feature-list {
	display: flex;
	gap: 60px;
}

.feature-item {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature-item img {
	width: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.feature-item h4 {
	font-size: 20px;
	margin-bottom: 20px;
}

@media(max-width: 992px) {
	.feature-item h4 {
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: 11px;
	}
}

@media(max-width: 767px) {
	.feature-list {
		flex-direction: column;
		gap: 30px;
	}
	
	.feature-item {
		width: 100%;
	}
}

/* chef */
.chef {
	background-color: #3d1101;
	display: flex;
	gap: 25px;
	padding: 0 77px 0 42px;
}

@media(max-width: 992px) {
	.chef {
		padding-right: 29px;
		padding-left: 10px;
	}
}

@media(max-width: 767px) {
	.chef {
		flex-direction: column;
		padding: 0;
		gap: 0;
	}
}

.chef img {
	width: 50%;
}

.chef-article {
	color: #efe9e7;
	padding-top: 81px;
}

.chef-article h4 {
	font-size: 20px;
	line-height: 1.6;
}

.chef-article h5 {
	line-height: 1.25;
	margin-bottom: 16px;
}

@media(max-width: 992px) {
	.chef-article {
		padding: 49px 0;
	}
}

@media(max-width: 767px) {
	.chef img {
		width: 100%;
	}

	.chef-article {
		padding: 30px;
	}
}

/* review */
.review {
	background-color: #efe9e7;
	padding: 50px 42px;
}

.review h3 {
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 32px;
}

@media(max-width: 992px) {
	.review {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media(max-width: 767px) {
	.review {
		padding-bottom: 60px;
	}
}

.review-list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.review-item {
	display: flex;
	gap: 13px;
}

.img-frame img {
	max-width: none;
	width: 67px;
	border-radius: 50%;
}

.review-content h4 {
	font-size: 18px;
	line-height: 1.3;
	margin: 22px 0;
}

.review-content p {
	line-height: 1.5;
	margin-bottom: 16px;
}

.review-name {
	display: flex;
	justify-content: end;
}

.review-name span {
	opacity: 75%;
}

@media(max-width: 767px) {
	.review-list {
		flex-direction: column;
	}
}

/* reserve */
.reserve {
	background-color: rgba(250, 250, 250, 0.7);
	padding: 50px 42px;
}

.reserve h3 {
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	margin-bottom: 38px;
}

@media(max-width: 992px) {
	.reserve {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media(max-width: 767px) {
	.reserve h3 {
		margin-bottom: 30px;
	}
}

.reserve-section {
	display: flex;
	gap: 20px;
}

.reserve-section img {
	width: 50%;
}

.input-name {
	font-size: 14px;
	line-height: 1.4;
} 

.input-section {
	width: 232%;
	line-height: 1.3;
	padding: 5px 0 5px 14px;
	margin: 4px 0 10px 0;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 0 0 #ececec;
	border-radius: 3px;
}

.input-section::placeholder {
	font-family: 'PingFangTC-Light';
	font-size: 16px;
	color: #4A4A4A;
}

@media(max-width: 992px) {
	.reserve-section {
		width: 100%;
	}
	
	.reserve-section img {
		width: 48%;
	}

	.form-section {
		width: 48%;
	}

	.input-section {
		width: 100%;
	}
}

@media(max-width: 767px) {
	.reserve-section {
		flex-direction: column;
	}

	.reserve-section img {
		width: 100%;
	}

	.form-section {
		width: 100%;
	}
}

.radio-section {
	margin-top: 4px;
}

.radio-value {
	margin-left: 4px;
}

.ml-32 {
	margin-left: 32px;
}

.form-submit {
	width: 240%;
	display: flex;
	justify-content: end;
	margin-top: 30px;
}

@media(max-width: 992px) {
	.form-submit {
		width: 100%;
	}
}

.button-register {
	width: 70px;
	color: #fff;
	background-color: rgba(0,0,0,0.35);
	font-size: 14px;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	padding: 6px 0;
	margin-right: 11px;
}

.button-register:hover, .button-register:focus, .button-register:active {
	cursor: pointer;
	background-color: #F56C23;
}

.button-submit {
	width: 70px;
	color: #fff;
	background-color: #F56C23;
	font-size: 14px;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	padding: 6px 0;
}

.button-submit:hover, .button-submit:focus, .button-submit:active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.35);
}

/*login.html*/
.login {
	background-color: #efe9e7;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}

.login h3 {
	font-size: 48px;
	color: #3d1101;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 5px;
}

.login h4 {
	font-size: 20px;
	color: #3d1101;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 35px;
}

.login-section {
	width: 300px;
	text-align: left;
	box-sizing: border-box;
	padding: 15px;
	border-top: 3px solid #FF5E45;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}

.login-section h5 {
	font-size: 18px;
	color: #3d1101;
	font-weight: 700;
	text-align: center;
	margin-bottom: 16px;
}

.login-form label {
	line-height: 1.3;
	margin-bottom: 3px;
}

.login-form input {
	width: 95%;
	height: 32px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
}

.mb-15 {
	margin-bottom: 15px;
}

.forget-password-link, .login-link {
	font-size: 14px;
	color: #FF5E45;
	line-height: 1.3;
}

.login-form-submit {
	margin-top: 30px;
}

.login-button-register {
	width: 45%;
	color: #fff;
	background-color: rgba(0,0,0,0.35);
	font-size: 14px;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	padding: 6px 0;
	margin-right: 20px;
}

.login-button-register a {
	color: #fff;
}

.login-button-register:hover, .login-button-register:focus, .login-button-register:active {
	cursor: pointer;
	background-color: #F56C23;
}

.login-button-submit {
	width: 45%;
	color: #fff;
	background-color: #F56C23;
	font-size: 14px;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	padding: 6px 0;
}

.login-button-submit:hover, .login-button-submit:focus, .login-button-submit:active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.35);
}

/* register.html */
.register {
	background-color: #efe9e7;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}

.register h3 {
	font-size: 48px;
	color: #3d1101;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 5px;
}

.register h4 {
	font-size: 20px;
	color: #3d1101;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 35px;
}

.register-section {
	max-width: 620px;
	text-align: left;
	box-sizing: border-box;
	padding: 15px;
	border-top: 3px solid #FF5E45;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}

@media(max-width:767px) {
	.register-section {
		padding: auto 12px;
		margin: 0 12px;
	}
}

.register-section h5 {
	font-size: 18px;
	color: #3d1101;
	font-weight: 700;
	text-align: center;
	margin-bottom: 16px;
}

.register-content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

@media(max-width: 767px) {
	.register-content {
		flex-direction: column;
	}
}

.register-article, .register-form-section {
	width: 50%;
}

@media(max-width: 767px) {
	.register-article, .register-form-section {
		width: 100%;
	}
}

.register-article p {
	font-size: 18px;
	color: #3d1101;
}

.register-form label {
	line-height: 1.3;
	margin-bottom: 3px;
}

.register-form input {
	width: 100%;
	height: 32px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-15 {
	margin-bottom: 15px;
}

.register-form-submit {
	display: flex;
	justify-content: end;
	margin-top: 30px;
}

.register-button-submit {
	width: 45%;
	color: #fff;
	background-color: #F56C23;
	font-size: 14px;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	padding: 6px 0;
}

.register-button-submit:hover, .register-button-submit:focus, .register-button-submit:active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.35);
}